<section class="material_descripcion">
    <div class="material_descrip">
      <div class="material_descrip_text">
      <h1>COVERSOL</h1>
      <p>El Coversol es un sistema de tejido impregnado en PVC. Esta tela presenta un calado pequeño obteniendo así un tejido fresco. En Rivera lo utilizamos para algunos detalles de nuestra tapicería, así como también para nuestras sombras.</p>
    </div>
      <div class="material_descrip_imgs">
        <img src="../../../assets/images/menu-materiales/portada-Coversol-ptd743ss4pmak6m9458nq0fqoaghybttnl70rr1oqw.jpg" alt="material_coversol" width="350px" height="200px">
        <app-material-slider-coversol></app-material-slider-coversol>
        </div>
        <app-material-coversol-others></app-material-coversol-others>
    </div>
    
    </section>
    <app-material-coversol-manteinment></app-material-coversol-manteinment>