<section id="principal">
    <section id="titulo">
    <div id="title_sec">
    <h1>Materiales</h1>
    </div>
    </section>
     <section id="materiales">
     
     <div id="material-1">
       
        <div class="material_text">
        <div id="titulo_material">
        <a [routerLink]="'Aluminio'"><h2>Aluminio</h2></a>
        <div id="descripcion_material">
        <p>El aluminio es el material ideal para la fabricación de muebles para exterior, dado que es de larga duración, alta resistencia al exterior y sumamente liviano.
         Puede estar expuesto a la intemperie los 365 días del año.</p>
        <button class="contact_form_btn"><a [routerLink]="'Aluminio'">ver más?</a></button> 
         </div>
        </div>       
        </div>
        <div id="imagen_material">
         <img src="../../../assets/images/menu-materiales/portada-aluminio-ptd74zral2u1ixbtxj1z2sdeve2z81cp3zdj35qavc.jpg" width="100%" height="600" alt="muebles de aluminio">
         </div>
     </div>

     <div id="material-2">
      <div id="imagen_material-2">
         <img src="../../../assets/images/menu-materiales/portada-Sunbrella-ptd74adngjvatgcp1q31pgrytzk2g7jy0hrf4orxjc.jpg" width="100%" height="600" alt="sunbrella">
         </div>
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Sunbrella'"><h2>Lonas Sunbrella®</h2></a>
      <div id="descripcion_material">
       <p>La tela Sunbrella® es la perfecta combinación de color y textura. Esta lona acrílica importada se destaca por su altísima calidad y excelencia.</p>

      <button class="contact_form_btn"><a [routerLink]="'Sunbrella'">ver más?</a></button> 
       </div>
      </div>       
      </div> 
   </div>

   <div id="material-1">
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Phifertex'"><h2>Lonas Phifertex®</h2></a>
      <div id="descripcion_material">
      <p>La tela Phifertex® Plus es ideal para reposeras. Los colores son super duraderos y resistentes a la exposición del sol y el moho.</p>
      <button class="contact_form_btn"><a [routerLink]="'Phifertex'">ver más?</a></button> 
       </div>
      </div>       
      </div>
      <div id="imagen_material">
       <img src="../../../assets/images/menu-materiales/portada-Phifertex-ptd73tgk1j850h19sirrgl1o51vglnory60ohph0nc.jpg" width="100%" height="600" alt="Phifertex">
       </div>
   </div>

   
   <div id="material-2">
      <div id="imagen_material-2">
         <img src="../../../assets/images/menu-materiales/portada-Silvertex-ptd741x3r1jpwyozf4fel0wthiprixmczbw1t74h3c.jpg" width="100%" height="600" alt="sunbrella">
         </div>
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Silvertex'"><h2>Silvertex®</h2></a>
      <div id="descripcion_material">
       <p>Esta tela importada de excelente calidad es ideal para la tapicería de mobiliario para exterior. Resistente al sol y la lluvia, se destaca también por sus colores.</p>

      <button class="contact_form_btn"><a [routerLink]="'Silvertex'">ver más?</a></button> 
       </div>
      </div>       
      </div> 
   </div>
  
   <div id="material-1">
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Fenolico'"><h2>Fenolico</h2></a>
      <div id="descripcion_material">
         <p>Utilizamos el fenólico para las tapas de las mesas para exterior, dado que es ideal por su alta resistencia a las inclemencias climáticas y es sumamente resistente.</p>
         <button class="contact_form_btn"><a [routerLink]="'Fenolico'">ver más?</a></button> 
       </div>
      </div>       
      </div>
      <div id="imagen_material">
       <img src="../../../assets/images/menu-materiales/portada-Fenolico-ptd75mbf53ox9kf29st0qmoh4mzscru97316lssuq0.jpg" width="100%" height="600" alt="Phifertex">
       </div>
   </div>

   <div id="material-2">
      <div id="imagen_material-2">
         <img src="../../../assets/images/menu-materiales/portada-Deck-Sintetico-ptd73tgk1j850h19sirrgl1o51vglnory60ohph0nc.jpg" width="100%" height="600" alt="sunbrella">
         </div>
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Deck'"><h2>Deck Sintetico</h2></a>
      <div id="descripcion_material">
         <p>Tablas de deck sintético super resistentes a la intemperie. Pueden estar al sol o la lluvia sin sufrir ningún deterioro.</p>
      <button class="contact_form_btn"><a [routerLink]="'Deck'">ver más?</a></button> 
       </div>
      </div>       
      </div> 
   </div>

   <div id="material-1">
      <div class="material_text">
      <div id="titulo_material">
      <a [routerLink]="'Coversol'"><h2>Coversol</h2></a>
      <div id="descripcion_material">
         <p>Tela plástica microperforada, ideal para complementar nuestra tapicería. Apto para exterior.</p>
         <button class="contact_form_btn"><a [routerLink]="'Coversol'">ver más?</a></button> 
       </div>
      </div>       
      </div>
      <div id="imagen_material">
       <img src="../../../assets/images/menu-materiales/portada-Coversol-ptd743ss4pmak6m9458nq0fqoaghybttnl70rr1oqw.jpg" width="100%" height="600" alt="Phifertex">
       </div>
   </div>

    </section>
    </section>