<div class="material_descrip_others">
    <h3>otros materiales</h3>
    <div class="material_descrip_others_grid">
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-Sunbrella-ptd74adngjvatgcp1q31pgrytzk2g7jy0hrf4orxjc.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Sunbrella®</p>
  
          <a [routerLink]="'../Sunbrella'"
            ><button class="contact_form_btn">--></button>
          </a>
        </div>
      </div>
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-Phifertex-ptd73tgk1j850h19sirrgl1o51vglnory60ohph0nc.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Phifertex®</p>
  
          <a [routerLink]="'../Phifertex'"
            ><button class="contact_form_btn">--></button></a
          >
        </div>
      </div>
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-Silvertex-ptd741x3r1jpwyozf4fel0wthiprixmczbw1t74h3c.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Silvertex®</p>
          <a [routerLink]="'../Phifertex'"
            ><button class="contact_form_btn">--></button>
          </a>
        </div>
      </div>
  
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-Fenolico-ptd75mbf53ox9kf29st0qmoh4mzscru97316lssuq0.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Fenolico</p>
          <a [routerLink]="'../Fenolico'"
            ><button class="contact_form_btn">--></button>
          </a>
        </div>
      </div>
  
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-aluminio-ptd74zral2u1ixbtxj1z2sdeve2z81cp3zdj35qavc.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Aluminio</p>
          <a [routerLink]="'../Aluminio'"
            ><button class="contact_form_btn">--></button>
          </a>
        </div>
      </div>
  
      <div class="material_descrip_others_sunbrella">
        <div class="material_descrip_elements">
          <img
            src="../../../assets/images/menu-materiales/portada-Coversol-ptd743ss4pmak6m9458nq0fqoaghybttnl70rr1oqw.jpg"
            height="50px"
            width="60px"
            alt=""
          />
  
          <p>Coversol</p>
          <a [routerLink]="'../Coversol'"
            ><button class="contact_form_btn">--></button>
          </a>
        </div>
      </div>
    </div>
  </div>
  