<section class="material_descripcion">
<div class="material_descrip">
  <div class="material_descrip_text">
  <h1>Aluminio</h1>
  <p>Entre sus atributos principales se destacan la alta durabilidad, la resistencia a los agentes externos y una ligereza que facilita su movilidad y transporte. El aluminio resiste la sobreexposición al sol, el contacto con la humedad y los golpes. Los muebles de aluminio se caracterizan por una gran durabilidad. No deja pasar el agua por lo tanto los muebles de este material no se oxidan. El aluminio que utilizamos es anodizado. Este tratamiento es un proceso que modifica su superficie y proporciona una mayor protección.</p>
    <b>El aluminio es el material ideal para la fabricación de muebles para exterior.</b>
</div>
  <div class="material_descrip_imgs">
    <img src="../../../assets/images/menu-materiales/portada-aluminio-ptd74zral2u1ixbtxj1z2sdeve2z81cp3zdj35qavc.jpg" alt="material_alumnio" width="350px" height="200px">
    <app-material-slider-aluminio></app-material-slider-aluminio>
    </div>
    <app-material-aluminio-others></app-material-aluminio-others>
</div>

</section>
<app-material-aluminio-manteinment></app-material-aluminio-manteinment>




