<div class="maintenance">
    <div class="maintenance_text">
        <h3><b>Mantenimiento de Deck Sintético</b></h3>
        <p>Estos materiales no precisan ningún mantenimiento específico. Recomendamos limpiar con un trapo en seco o lavar con agua normalmente.</p>
        <p>En Rivera Designs trabajamos con materiales premium para brindar productos de la mejor calidad.
            Si bien nuestro mobiliario es libre de mantenimiento, hay algunas consideraciones para tener en cuenta.</p>
        <div class="maintenance_img">
        <img src="../../../assets/images/Deck/6-3-1.jpg" alt="material_Deck" widht="100%" height="400px">

    </div>
</div>