<section class="material_descripcion">
    <div class="material_descrip">
      <div class="material_descrip_text">
      <h1>DECK SINTÉTICO</h1>
      <p>Tablas de deck sintético super resistentes a la intemperie. Pueden estar al sol o la lluvia sin sufrir ningún deterioro.</p>
      <p>Este material es resistente al calor, el frío y la humedad. No se astilla. No necesita mantenimiento como la madera natural.    </p>
        <b>Es el material perfecto para complementar la durabilidad del aluminio.</b>
    </div>
      <div class="material_descrip_imgs">
        <img src="../../../assets/images/menu-materiales/portada-Deck-Sintetico-ptd73tgk1j850h19sirrgl1o51vglnory60ohph0nc.jpg" alt="material_deck" width="350px" height="200px">
        <app-material-slider-deck></app-material-slider-deck>
        </div>
        <app-material-deck-others></app-material-deck-others>
    </div>
    
    </section>
    <app-material-deck-manteinment></app-material-deck-manteinment>
    
    
    
    